In [1]:
import pandas as pd

In [11]:
trump_df = pd.read_csv(r"C:\Users\User\iCloudDrive\Cursos\Data Circle\Twitter\hashtag_donaldtrump.csv", engine='python')

In [13]:
biden_df = pd.read_csv(r"C:\Users\User\iCloudDrive\Cursos\Data Circle\Twitter\hashtag_joebiden.csv")

C:\Users\User\AppData\Local\Temp\ipykernel_14732\41657922.py:1: DtypeWarning: Columns (1,2,3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  biden_df = pd.read_csv(r"C:\Users\User\iCloudDrive\Cursos\Data Circle\Twitter\hashtag_joebiden.csv")

In [15]:
biden_df.head()

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,collected_at
0,2020-10-15 00:00:01,1.316529221557252e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,360666534.0,El Sol Latino News,elsollatinonews,üåê Noticias de inter√©s para latinos de la costa...,...,1860.0,"Philadelphia, PA / Miami, FL",25.77427,-80.19366,NaN,United States of America,North America,Florida,FL,2020-10-21 00:00:00
1,2020-10-15 00:00:18,1.31652929585929e+18,#HunterBiden #HunterBidenEmails #JoeBiden #Joe...,0.0,0.0,Twitter for iPad,809904438.0,Cheri A. üá∫üá∏,Biloximeemaw,"Locked and loaded Meemaw. Love God, my family ...",...,6628.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:00.517827283
2,2020-10-15 00:00:20,1.3165293050069524e+18,@IslandGirlPRV @BradBeauregardJ @MeidasTouch T...,0.0,0.0,Twitter Web App,3494182277.0,Flag Waver,Flag_Wavers,NaN,...,1536.0,Golden Valley Arizona,46.304036,-109.171431,NaN,United States of America,North America,Montana,MT,2020-10-21 00:00:01.035654566
3,2020-10-15 00:00:21,1.3165293080815575e+18,@chrislongview Watching and setting dvr. Let‚Äôs...,0.0,0.0,Twitter for iPhone,8.242596012018524e+17,Michelle Ferg,MichelleFerg4,NaN,...,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:01.553481849
4,2020-10-15 00:00:22,1.316529312741253e+18,#censorship #HunterBiden #Biden #BidenEmails #...,1.0,0.0,Twitter Web App,1.032806955356545e+18,the Gold State,theegoldstate,A Silicon Valley #independent #News #Media #St...,...,390.0,"California, USA",36.701463,-118.755997,NaN,United States of America,North America,California,CA,2020-10-21 00:00:02.071309132

In [16]:
biden_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1059909 entries, 0 to 1059908
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   created_at            1059909 non-null  object
 1   tweet_id              887173 non-null   object
 2   tweet                 887173 non-null   object
 3   likes                 887092 non-null   object
 4   retweet_count         887073 non-null   float64
 5   source                886360 non-null   object
 6   user_id               887067 non-null   object
 7   user_name             887048 non-null   object
 8   user_screen_name      786660 non-null   object
 9   user_description      704647 non-null   object
 10  user_join_date        776784 non-null   object
 11  user_followers_count  776885 non-null   object
 12  user_location         543063 non-null   object
 13  lat                   355284 non-null   object
 14  long                  355284 non-null   object
 15  city                  186869 non-null   object
 16  country               353770 non-null   object
 17  continent             353788 non-null   object
 18  state                 260191 non-null   object
 19  state_code            244603 non-null   object
 20  collected_at          776777 non-null   object
dtypes: float64(1), object(20)
memory usage: 169.8+ MB

In [25]:
biden_df.isna().sum()

created_at                   0
tweet_id                172736
tweet                   172736
likes                   273261
retweet_count           172836
source                  173549
user_id                 172842
user_name               172861
user_screen_name        273249
user_description        355262
user_join_date          283125
user_followers_count    283024
user_location           516846
lat                     704625
long                    704625
city                    873040
country                 706139
continent               706121
state                   799718
state_code              815306
collected_at            283132
dtype: int64

In [32]:
biden_df.describe()

               likes  retweet_count
count  786648.000000   8.870730e+05
mean       10.037463   1.446466e+12
std       388.542498   1.362249e+15
min         0.000000   0.000000e+00
25%         0.000000   0.000000e+00
50%         0.000000   0.000000e+00
75%         2.000000   1.000000e+00
max    165702.000000   1.283028e+18

In [40]:
biden_df.duplicated().sum()

282899

In [38]:
biden_df[biden_df.duplicated()]

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,collected_at
22101,Reparations Remedies Much!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36630,Reparations Remedies Much!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36633,Reparations Remedies Much!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36640,Reparations Remedies Much!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39910,Reparations Remedies Much!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983039,SEGUROS. BROKER ASOCIADO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1007904,Reparations Remedies Much!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1016138,Reparations Remedies Much!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1017399,Reparations Remedies Much!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1040548,Reparations Remedies Much!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
trump_df.head()

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,collected_at
0,2020-10-15 00:00:01,1.316529221557252e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,360666534.0,El Sol Latino News,elsollatinonews,üåê Noticias de inter√©s para latinos de la costa...,...,1860.0,"Philadelphia, PA / Miami, FL",25.77427,-80.19366,NaN,United States of America,North America,Florida,FL,2020-10-21 00:00:00
1,2020-10-15 00:00:01,1.3165292227484303e+18,"Usa 2020, Trump contro Facebook e Twitter: cop...",26.0,9.0,Social Mediaset,331617619.0,Tgcom24,MediasetTgcom24,Profilo ufficiale di Tgcom24: tutte le notizie...,...,1067661.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:00.373216530
2,2020-10-15 00:00:02,1.316529228091847e+18,"#Trump: As a student I used to hear for years,...",2.0,1.0,Twitter Web App,8436472.0,snarke,snarke,"Will mock for food! Freelance writer, blogger,...",...,1185.0,Portland,45.5202471,-122.6741949,Portland,United States of America,North America,Oregon,OR,2020-10-21 00:00:00.746433060
3,2020-10-15 00:00:02,1.316529227471237e+18,2 hours since last tweet from #Trump! Maybe he...,0.0,0.0,Trumpytweeter,8.28355589206057e+17,Trumpytweeter,trumpytweeter,"If he doesn't tweet for some time, should we b...",...,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:01.119649591
4,2020-10-15 00:00:08,1.3165292523014513e+18,You get a tie! And you get a tie! #Trump ‚Äòs ra...,4.0,3.0,Twitter for iPhone,47413798.0,Rana Abtar - ÿ±ŸÜÿß ÿ£ÿ®ÿ™ÿ±,Ranaabtar,"Washington Correspondent, Lebanese-American ,c...",...,5393.0,Washington DC,38.8949924,-77.0365581,Washington,United States of America,North America,District of Columbia,DC,2020-10-21 00:00:01.492866121

In [22]:
trump_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 971087 entries, 0 to 971086
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   created_at            971087 non-null  object
 1   tweet_id              971073 non-null  object
 2   tweet                 971073 non-null  object
 3   likes                 971045 non-null  object
 4   retweet_count         970933 non-null  float64
 5   source                970057 non-null  object
 6   user_id               970929 non-null  object
 7   user_name             970911 non-null  object
 8   user_screen_name      970933 non-null  object
 9   user_description      869661 non-null  object
 10  user_join_date        970779 non-null  object
 11  user_followers_count  970917 non-null  object
 12  user_location         675830 non-null  object
 13  lat                   445702 non-null  object
 14  long                  445705 non-null  object
 15  city                  227180 non-null  object
 16  country               442732 non-null  object
 17  continent             442749 non-null  object
 18  state                 320614 non-null  object
 19  state_code            300414 non-null  object
 20  collected_at          970765 non-null  object
dtypes: float64(1), object(20)
memory usage: 155.6+ MB

In [26]:
trump_df.isna().sum()

created_at                   0
tweet_id                    14
tweet                       14
likes                       42
retweet_count              154
source                    1030
user_id                    158
user_name                  176
user_screen_name           154
user_description        101426
user_join_date             308
user_followers_count       170
user_location           295257
lat                     525385
long                    525382
city                    743907
country                 528355
continent               528338
state                   650473
state_code              670673
collected_at               322
dtype: int64

In [42]:
trump_df.duplicated().sum()

5

In [44]:
trump_df[trump_df.duplicated()]

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,collected_at
140285,Reparations Remedies Much!,None,None,None,NaN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
251506,Reparations Remedies Much!,None,None,None,NaN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
523185,SEGUROS. BROKER ASOCIADO,None,None,None,NaN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
523724,SEGUROS. BROKER ASOCIADO,None,None,None,NaN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
912486,SEGUROS. BROKER ASOCIADO,None,None,None,NaN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [33]:
trump_df.describe()

       retweet_count
count   9.709330e+05
mean    6.950235e+12
std     2.844675e+15
min     0.000000e+00
25%     0.000000e+00
50%     0.000000e+00
75%     0.000000e+00
max     1.322588e+18

Notes:
* There are null values (needs to be dealt)
* There are duplicated values (needs to be dropped)
* Columns "likes", "user_followers_count", "lat" and "long" are object (Needs to be changed to numeric)
* Column "created_at", "user_join_date" and "collected_at" are object (Needs to be changed to datetime)