In [1]:
import pandas as pd

In [2]:
# read trump csv file
trump_df = pd.read_csv(r"C:\Users\User\iCloudDrive\Cursos\Data Circle\DataCircle_Twitter_Project\hashtag_donaldtrump.csv", engine='python')

In [121]:
# read biden csv file
biden_df = pd.read_csv(r"C:\Users\User\iCloudDrive\Cursos\Data Circle\DataCircle_Twitter_Project\hashtag_joebiden.csv", engine="python")

Biden

In [122]:
# show biden csv first 5 rows
biden_df.head()

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,collected_at
0,2020-10-15 00:00:01,1.316529221557252e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,360666534.0,El Sol Latino News,elsollatinonews,üåê Noticias de inter√©s para latinos de la costa...,...,1860.0,"Philadelphia, PA / Miami, FL",25.77427,-80.19366,NaN,United States of America,North America,Florida,FL,2020-10-21 00:00:00
1,2020-10-15 00:00:18,1.31652929585929e+18,#HunterBiden #HunterBidenEmails #JoeBiden #Joe...,0.0,0.0,Twitter for iPad,809904438.0,Cheri A. üá∫üá∏,Biloximeemaw,"Locked and loaded Meemaw. Love God, my family ...",...,6628.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:00.517827283
2,2020-10-15 00:00:20,1.3165293050069524e+18,@IslandGirlPRV @BradBeauregardJ @MeidasTouch T...,0.0,0.0,Twitter Web App,3494182277.0,Flag Waver,Flag_Wavers,NaN,...,1536.0,Golden Valley Arizona,46.3040364,-109.17143119999999,NaN,United States of America,North America,Montana,MT,2020-10-21 00:00:01.035654566
3,2020-10-15 00:00:21,1.3165293080815575e+18,@chrislongview Watching and setting dvr. Let‚Äôs...,0.0,0.0,Twitter for iPhone,8.242596012018524e+17,Michelle Ferg,MichelleFerg4,NaN,...,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:01.553481849
4,2020-10-15 00:00:22,1.316529312741253e+18,#censorship #HunterBiden #Biden #BidenEmails #...,1.0,0.0,Twitter Web App,1.032806955356545e+18,the Gold State,theegoldstate,A Silicon Valley #independent #News #Media #St...,...,390.0,"California, USA",36.7014631,-118.75599740000001,NaN,United States of America,North America,California,CA,2020-10-21 00:00:02.071309132

In [123]:
# show biden csv info (row qty, columns format, null values)
biden_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777073 entries, 0 to 777072
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   created_at            777073 non-null  object
 1   tweet_id              776995 non-null  object
 2   tweet                 776995 non-null  object
 3   likes                 776914 non-null  object
 4   retweet_count         776895 non-null  float64
 5   source                776182 non-null  object
 6   user_id               776889 non-null  object
 7   user_name             776870 non-null  object
 8   user_screen_name      776895 non-null  object
 9   user_description      694882 non-null  object
 10  user_join_date        776784 non-null  object
 11  user_followers_count  776885 non-null  object
 12  user_location         543063 non-null  object
 13  lat                   355284 non-null  object
 14  long                  355284 non-null  object
 15  city                  186869 non-null  object
 16  country               353770 non-null  object
 17  continent             353788 non-null  object
 18  state                 260191 non-null  object
 19  state_code            244603 non-null  object
 20  collected_at          776777 non-null  object
dtypes: float64(1), object(20)
memory usage: 124.5+ MB

In [124]:
# sum of null values for each column
biden_df.isna().sum()

created_at                   0
tweet_id                    78
tweet                       78
likes                      159
retweet_count              178
source                     891
user_id                    184
user_name                  203
user_screen_name           178
user_description         82191
user_join_date             289
user_followers_count       188
user_location           234010
lat                     421789
long                    421789
city                    590204
country                 423303
continent               423285
state                   516882
state_code              532470
collected_at               296
dtype: int64

In [125]:
# biden csv statistics 
biden_df.describe()

       retweet_count
count   7.768950e+05
mean    1.651482e+12
std     1.455644e+15
min     0.000000e+00
25%     0.000000e+00
50%     0.000000e+00
75%     0.000000e+00
max     1.283028e+18

In [126]:
# total number of duplicates
biden_df.duplicated().sum()

68

In [127]:
# filter duplicated rows
biden_df[(biden_df.duplicated())]

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,collected_at
22101,Reparations Remedies Much!,None,None,None,NaN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
36630,Reparations Remedies Much!,None,None,None,NaN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
36633,Reparations Remedies Much!,None,None,None,NaN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
36640,Reparations Remedies Much!,None,None,None,NaN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
39910,Reparations Remedies Much!,None,None,None,NaN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700203,SEGUROS. BROKER ASOCIADO,None,None,None,NaN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
725068,Reparations Remedies Much!,None,None,None,NaN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
733302,Reparations Remedies Much!,None,None,None,NaN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
734563,Reparations Remedies Much!,None,None,None,NaN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
757712,Reparations Remedies Much!,None,None,None,NaN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [130]:
# filter duplicated rows where "tweet_id" is null
biden_df[(biden_df.duplicated()) & (biden_df["tweet_id"].notna())]

Empty DataFrame
Columns: [created_at, tweet_id, tweet, likes, retweet_count, source, user_id, user_name, user_screen_name, user_description, user_join_date, user_followers_count, user_location, lat, long, city, country, continent, state, state_code, collected_at]
Index: []

[0 rows x 21 columns]

In [135]:
# count per "tweet_id" column
biden_df["tweet_id"].value_counts()

tweet_id
2011-06-07 18:01:22       68
2013-04-15 01:42:25        9
2012-01-08 23:29:55        4
2010-04-07 02:44:46        3
2010-10-16 13:52:34        3
                          ..
1.3225095930801562e+18     1
1.3225095945901056e+18     1
1.322509720016638e+18      1
1.322509734751228e+18      1
1.3255889087264236e+18     1
Name: count, Length: 775053, dtype: int64

In [136]:
# count per "created_at" column
biden_df["created_at"].value_counts()

created_at
Reparations Remedies Much!                   68
HateN on Obama  #StayMissNMeWithThatShit!    68
2020-11-07 16:37:02                          33
2020-11-07 16:36:00                          31
2020-11-07 16:45:05                          31
                                             ..
2020-10-28 16:51:49                           1
2020-10-28 16:51:39                           1
2020-10-28 16:51:27                           1
2020-10-28 16:51:15                           1
2020-11-08 23:59:58                           1
Name: count, Length: 516360, dtype: int64

Trump

In [21]:
trump_df.head()

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,collected_at
0,2020-10-15 00:00:01,1.316529221557252e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,360666534.0,El Sol Latino News,elsollatinonews,üåê Noticias de inter√©s para latinos de la costa...,...,1860.0,"Philadelphia, PA / Miami, FL",25.77427,-80.19366,NaN,United States of America,North America,Florida,FL,2020-10-21 00:00:00
1,2020-10-15 00:00:01,1.3165292227484303e+18,"Usa 2020, Trump contro Facebook e Twitter: cop...",26.0,9.0,Social Mediaset,331617619.0,Tgcom24,MediasetTgcom24,Profilo ufficiale di Tgcom24: tutte le notizie...,...,1067661.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:00.373216530
2,2020-10-15 00:00:02,1.316529228091847e+18,"#Trump: As a student I used to hear for years,...",2.0,1.0,Twitter Web App,8436472.0,snarke,snarke,"Will mock for food! Freelance writer, blogger,...",...,1185.0,Portland,45.5202471,-122.6741949,Portland,United States of America,North America,Oregon,OR,2020-10-21 00:00:00.746433060
3,2020-10-15 00:00:02,1.316529227471237e+18,2 hours since last tweet from #Trump! Maybe he...,0.0,0.0,Trumpytweeter,8.28355589206057e+17,Trumpytweeter,trumpytweeter,"If he doesn't tweet for some time, should we b...",...,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:01.119649591
4,2020-10-15 00:00:08,1.3165292523014513e+18,You get a tie! And you get a tie! #Trump ‚Äòs ra...,4.0,3.0,Twitter for iPhone,47413798.0,Rana Abtar - ÿ±ŸÜÿß ÿ£ÿ®ÿ™ÿ±,Ranaabtar,"Washington Correspondent, Lebanese-American ,c...",...,5393.0,Washington DC,38.8949924,-77.0365581,Washington,United States of America,North America,District of Columbia,DC,2020-10-21 00:00:01.492866121

In [22]:
trump_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 971087 entries, 0 to 971086
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   created_at            971087 non-null  object
 1   tweet_id              971073 non-null  object
 2   tweet                 971073 non-null  object
 3   likes                 971045 non-null  object
 4   retweet_count         970933 non-null  float64
 5   source                970057 non-null  object
 6   user_id               970929 non-null  object
 7   user_name             970911 non-null  object
 8   user_screen_name      970933 non-null  object
 9   user_description      869661 non-null  object
 10  user_join_date        970779 non-null  object
 11  user_followers_count  970917 non-null  object
 12  user_location         675830 non-null  object
 13  lat                   445702 non-null  object
 14  long                  445705 non-null  object
 15  city                  227180 non-null  object
 16  country               442732 non-null  object
 17  continent             442749 non-null  object
 18  state                 320614 non-null  object
 19  state_code            300414 non-null  object
 20  collected_at          970765 non-null  object
dtypes: float64(1), object(20)
memory usage: 155.6+ MB

In [26]:
trump_df.isna().sum()

created_at                   0
tweet_id                    14
tweet                       14
likes                       42
retweet_count              154
source                    1030
user_id                    158
user_name                  176
user_screen_name           154
user_description        101426
user_join_date             308
user_followers_count       170
user_location           295257
lat                     525385
long                    525382
city                    743907
country                 528355
continent               528338
state                   650473
state_code              670673
collected_at               322
dtype: int64

In [42]:
trump_df.duplicated().sum()

5

In [44]:
trump_df[trump_df.duplicated()]

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,collected_at
140285,Reparations Remedies Much!,None,None,None,NaN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
251506,Reparations Remedies Much!,None,None,None,NaN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
523185,SEGUROS. BROKER ASOCIADO,None,None,None,NaN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
523724,SEGUROS. BROKER ASOCIADO,None,None,None,NaN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
912486,SEGUROS. BROKER ASOCIADO,None,None,None,NaN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [33]:
trump_df.describe()

       retweet_count
count   9.709330e+05
mean    6.950235e+12
std     2.844675e+15
min     0.000000e+00
25%     0.000000e+00
50%     0.000000e+00
75%     0.000000e+00
max     1.322588e+18

Notes:
* There are null values (needs to be dealt)
* There are duplicated values (needs to be dropped)
* Columns "likes", "user_followers_count", "lat" and "long" are object (Needs to be changed to numeric)
* Column "created_at", "user_join_date" and "collected_at" are object (Needs to be changed to datetime)

# Data Manipulation

In [138]:
# drop duplicates
biden_df = biden_df.drop_duplicates()

In [139]:
# total number of duplicates
biden_df.duplicated().sum()

0

In [140]:
# Identify date-like entries
# This will create a boolean Series that is True for date-like entries
is_date = pd.to_datetime(biden_df["created_at"], errors="coerce").notna()

In [141]:
# Filter only date-like entries and store it in the original dataframe
biden_df = biden_df[is_date]

In [153]:
# count per "tweet_id" column
biden_df["tweet_id"].value_counts()

tweet_id
1.32535533771785e+18      2
1.325357372345299e+18     2
1.325357306536747e+18     2
1.325436634729476e+18     2
1.325357244213551e+18     2
                         ..
1.3225094932809236e+18    1
1.3225095146424607e+18    1
1.3225095121300767e+18    1
1.3225095693991483e+18    1
1.3255889087264236e+18    1
Name: count, Length: 775032, dtype: int64

In [144]:
# count per "created_at" column
biden_df["created_at"].value_counts()

created_at
2020-11-07 16:37:02    33
2020-11-07 16:45:05    31
2020-11-07 16:36:00    31
2020-11-07 16:38:08    29
2020-11-07 16:41:06    29
                       ..
2020-10-28 16:51:11     1
2020-10-28 16:51:09     1
2020-10-28 16:51:08     1
2020-10-28 16:50:55     1
2020-11-08 23:59:58     1
Name: count, Length: 516327, dtype: int64

In [145]:
biden_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 776886 entries, 0 to 777072
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   created_at            776886 non-null  object
 1   tweet_id              776886 non-null  object
 2   tweet                 776886 non-null  object
 3   likes                 776883 non-null  object
 4   retweet_count         776883 non-null  float64
 5   source                776170 non-null  object
 6   user_id               776883 non-null  object
 7   user_name             776858 non-null  object
 8   user_screen_name      776883 non-null  object
 9   user_description      694874 non-null  object
 10  user_join_date        776777 non-null  object
 11  user_followers_count  776777 non-null  object
 12  user_location         543061 non-null  object
 13  lat                   355282 non-null  object
 14  long                  355282 non-null  object
 15  city                  186867 non-null  object
 16  country               353768 non-null  object
 17  continent             353786 non-null  object
 18  state                 260188 non-null  object
 19  state_code            244603 non-null  object
 20  collected_at          776777 non-null  object
dtypes: float64(1), object(20)
memory usage: 130.4+ MB

In [148]:
# filter biden df where tweet_id is null
biden_df[biden_df["tweet_id"].isna()]

Empty DataFrame
Columns: [created_at, tweet_id, tweet, likes, retweet_count, source, user_id, user_name, user_screen_name, user_description, user_join_date, user_followers_count, user_location, lat, long, city, country, continent, state, state_code, collected_at]
Index: []

[0 rows x 21 columns]

In [149]:
biden_df.isna().sum()

created_at                   0
tweet_id                     0
tweet                        0
likes                        3
retweet_count                3
source                     716
user_id                      3
user_name                   28
user_screen_name             3
user_description         82012
user_join_date             109
user_followers_count       109
user_location           233825
lat                     421604
long                    421604
city                    590019
country                 423118
continent               423100
state                   516698
state_code              532283
collected_at               109
dtype: int64

In [150]:
biden_df[biden_df["likes"].isna()]

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,collected_at
183823,2020-10-26 05:36:58,1.3206002877118423e+18,ABD'de se√ßim sava≈üƒ±,None,NaN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
328579,2020-11-03 13:41:24,1.3236212997474757e+18,Se√ßime √ñzel #Bonus Avantajlarƒ± PeraForex‚Äôten ....,None,NaN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
687135,2020-11-07 21:39:33,1.3251911837488497e+18,#Biden defeats #Trump,None,NaN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None