# Exploratory Data Analysis

In [1]:
import pandas as pd

## Biden_df

In [2]:
# read biden csv file
biden_df = pd.read_csv(r"C:\Users\User\iCloudDrive\Cursos\Data Circle\DataCircle_Twitter_Project\hashtag_joebiden.csv",lineterminator='\n')

In [3]:
# show biden csv first 5 rows
biden_df.head()

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,collected_at
0,2020-10-15 00:00:01,1.316529e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,3.606665e+08,El Sol Latino News,elsollatinonews,üåê Noticias de inter√©s para latinos de la costa...,...,1860.0,"Philadelphia, PA / Miami, FL",25.774270,-80.193660,NaN,United States of America,North America,Florida,FL,2020-10-21 00:00:00
1,2020-10-15 00:00:18,1.316529e+18,#HunterBiden #HunterBidenEmails #JoeBiden #Joe...,0.0,0.0,Twitter for iPad,8.099044e+08,Cheri A. üá∫üá∏,Biloximeemaw,"Locked and loaded Meemaw. Love God, my family ...",...,6628.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:00.517827283
2,2020-10-15 00:00:20,1.316529e+18,@IslandGirlPRV @BradBeauregardJ @MeidasTouch T...,0.0,0.0,Twitter Web App,3.494182e+09,Flag Waver,Flag_Wavers,NaN,...,1536.0,Golden Valley Arizona,46.304036,-109.171431,NaN,United States of America,North America,Montana,MT,2020-10-21 00:00:01.035654566
3,2020-10-15 00:00:21,1.316529e+18,@chrislongview Watching and setting dvr. Let‚Äôs...,0.0,0.0,Twitter for iPhone,8.242596e+17,Michelle Ferg,MichelleFerg4,NaN,...,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:01.553481849
4,2020-10-15 00:00:22,1.316529e+18,#censorship #HunterBiden #Biden #BidenEmails #...,1.0,0.0,Twitter Web App,1.032807e+18,the Gold State,theegoldstate,A Silicon Valley #independent #News #Media #St...,...,390.0,"California, USA",36.701463,-118.755997,NaN,United States of America,North America,California,CA,2020-10-21 00:00:02.071309132

In [23]:
biden_df

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,collected_at
0,2020-10-15 00:00:01,1.316529e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,3.606665e+08,El Sol Latino News,elsollatinonews,üåê Noticias de inter√©s para latinos de la costa...,...,1860.0,"Philadelphia, PA / Miami, FL",25.774270,-80.193660,NaN,United States of America,North America,Florida,FL,2020-10-21 00:00:00
1,2020-10-15 00:00:18,1.316529e+18,#HunterBiden #HunterBidenEmails #JoeBiden #Joe...,0.0,0.0,Twitter for iPad,8.099044e+08,Cheri A. üá∫üá∏,Biloximeemaw,"Locked and loaded Meemaw. Love God, my family ...",...,6628.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:00.517827283
2,2020-10-15 00:00:20,1.316529e+18,@IslandGirlPRV @BradBeauregardJ @MeidasTouch T...,0.0,0.0,Twitter Web App,3.494182e+09,Flag Waver,Flag_Wavers,NaN,...,1536.0,Golden Valley Arizona,46.304036,-109.171431,NaN,United States of America,North America,Montana,MT,2020-10-21 00:00:01.035654566
3,2020-10-15 00:00:21,1.316529e+18,@chrislongview Watching and setting dvr. Let‚Äôs...,0.0,0.0,Twitter for iPhone,8.242596e+17,Michelle Ferg,MichelleFerg4,NaN,...,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:01.553481849
4,2020-10-15 00:00:22,1.316529e+18,#censorship #HunterBiden #Biden #BidenEmails #...,1.0,0.0,Twitter Web App,1.032807e+18,the Gold State,theegoldstate,A Silicon Valley #independent #News #Media #St...,...,390.0,"California, USA",36.701463,-118.755997,NaN,United States of America,North America,California,CA,2020-10-21 00:00:02.071309132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776881,2020-11-08 23:59:38,1.325589e+18,Stop laying @CNN !\n#Paris and #London dont gi...,0.0,0.0,Twitter for iPhone,3.873620e+08,flaquet,flaquet1,NaN,...,27.0,PARIS,48.856697,2.351462,Paris,France,Europe,Ile-de-France,IDF,2020-11-09 18:32:45.613547
776882,2020-11-08 23:59:38,1.325589e+18,Œ©œá ŒµŒªœÄŒØŒ∂œâ ŒΩŒ± ŒºŒ∑ ŒºŒ±œÇ Œ≤Œ≥ŒµŒπ œÉŒ±ŒΩ œÑŒøœÖœÇ ŒøœÄŒ±Œ¥ŒøœçœÇ œÑŒøœÖ...,0.0,0.0,Twitter for Android,4.032819e+08,ŒøœáŒπ Œ¨ŒªŒªŒø Œ∫Œ¨œÅŒ≤ŒøœÖŒΩŒø üá¨üá∑üó£üó£üó£,anapodoi,Œ±Œ∫œÅŒ±ŒØŒ± Œ∫Œ±ŒπœÅŒπŒ∫Œ¨ œÜŒ±ŒπŒΩœåŒºŒµŒΩŒ±... Œ∂ŒÆœÉŒ±ŒºŒµ Œ∫Œ±Œπ Œ±œÄœåœàŒµ,...,772.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-09 18:32:45.947617
776883,2020-11-08 23:59:41,1.325589e+18,L'OTAN va sortir de sa l√©thargie et redevenir ...,48.0,14.0,Twitter for Android,7.819183e+17,üá´üá∑ Alt-Droite (matricule 6921) ‚úùÔ∏è üá¨üá∑ üáÆüáπ üá¶üá≤,CtrlAltDroite,Fils de mineur. Libert√©s - Identit√© - Solidari...,...,15806.0,France,46.603354,1.888334,NaN,France,Europe,NaN,NaN,2020-11-09 18:32:45.627335
776884,2020-11-08 23:59:52,1.325589e+18,üåé\n\n‚Äú#congiuntifuoriregione‚Äù\n\n‚ÄòSono felice ...,1.0,1.0,Twitter for iPhone,5.293315e+08,Angelo Tani,AngeloTani,nato a casa dei nonni,...,5974.0,üåé,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-09 18:32:45.599846
776885,2020-11-08 23:59:58,1.325589e+18,"Ik moet zeggen dat ik #Biden ""the lesser of tw...",0.0,0.0,Twitter for Android,5.863863e+08,Job,_JobO__,-voeg hier uw interessante bio toe-,...,119.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-09 18:32:45.747707

In [4]:
# show biden csv info (row qty, columns format, null values)
biden_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 776886 entries, 0 to 776885
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   created_at            776886 non-null  object
 1   tweet_id              776886 non-null  float64
 2   tweet                 776886 non-null  object
 3   likes                 776886 non-null  float64
 4   retweet_count         776886 non-null  float64
 5   source                776173 non-null  object
 6   user_id               776886 non-null  float64
 7   user_name             776861 non-null  object
 8   user_screen_name      776886 non-null  object
 9   user_description      694877 non-null  object
 10  user_join_date        776886 non-null  object
 11  user_followers_count  776886 non-null  float64
 12  user_location         543092 non-null  object
 13  lat                   355293 non-null  float64
 14  long                  355293 non-null  float64
 15  city                  186872 non-null  object
 16  country               353779 non-null  object
 17  continent             353797 non-null  object
 18  state                 260195 non-null  object
 19  state_code            244609 non-null  object
 20  collected_at          776886 non-null  object
dtypes: float64(7), object(14)
memory usage: 124.5+ MB

In [5]:
# sum of null values for each column
biden_df.isna().sum()

created_at                   0
tweet_id                     0
tweet                        0
likes                        0
retweet_count                0
source                     713
user_id                      0
user_name                   25
user_screen_name             0
user_description         82009
user_join_date               0
user_followers_count         0
user_location           233794
lat                     421593
long                    421593
city                    590014
country                 423107
continent               423089
state                   516691
state_code              532277
collected_at                 0
dtype: int64

In [6]:
# biden csv statistics 
biden_df.describe()

,tweet_id,likes,retweet_count,user_id,user_followers_count,lat,long
count,7.768860e+05,776886.000000,776886.000000,7.768860e+05,7.768860e+05,355293.000000,355293.000000
mean,1.322844e+18,10.161164,2.131331,4.532033e+17,2.884994e+04,35.104203,-41.979660
std,2.585560e+15,390.974423,96.661527,5.573483e+17,4.141085e+05,17.907910,67.823724
min,1.316529e+18,0.000000,0.000000,1.081000e+03,0.000000e+00,-79.406307,-172.120051
25%,1.320870e+18,0.000000,0.000000,2.257285e+08,7.400000e+01,31.816038,-97.268406
50%,1.323899e+18,0.000000,0.000000,2.464208e+09,4.280000e+02,39.783730,-74.006015
75%,1.325115e+18,2.000000,0.000000,1.088044e+18,2.081000e+03,43.653482,5.966069
max,1.325589e+18,165702.000000,63473.000000,1.325575e+18,8.241710e+07,90.000000,179.048837

In [7]:
# total number of duplicates
biden_df.duplicated().sum()

0

In [10]:
# Function to count values in each column
def columns_value_counts(df):
    value_counts = {}
    for column in df.columns:
        value_counts[column] = df[column].value_counts()
    return value_counts

In [11]:
# Apply Function to count values in each column
value_counts = columns_value_counts(biden_df)
for column, counts in value_counts.items():
    print(f"Column: {column}")
    print(counts)
    print("\n")

Column: created_at
created_at
2020-11-07 16:37:02    33
2020-11-07 16:45:05    31
2020-11-07 16:36:00    31
2020-11-07 16:38:08    29
2020-11-07 16:41:06    29
                       ..
2020-10-28 16:51:11     1
2020-10-28 16:51:09     1
2020-10-28 16:51:08     1
2020-10-28 16:50:55     1
2020-11-08 23:59:58     1
Name: count, Length: 516327, dtype: int64


Column: tweet_id
tweet_id
1.325355e+18    2
1.325357e+18    2
1.325357e+18    2
1.325437e+18    2
1.325357e+18    2
               ..
1.322509e+18    1
1.322510e+18    1
1.322510e+18    1
1.322510e+18    1
1.325589e+18    1
Name: count, Length: 775032, dtype: int64


Column: tweet
tweet
#JoeBiden                                                                                                                                                                                                                                                                            311
#Biden                                                                                                                                                                                                                                                                               216
@realDonaldTrump #JoeBiden                                                                                                                                                                                                                                                            51
#biden                                                                                                                                                                                                                                                                                47
Congratulations #JoeBiden                                                                                                                                                                                                                                                             43
                                                                                                                                                                                                                                                                                    ...
Beware!  #RidenWithBiden2020 #Biden #BidenHarris2020 https://t.co/ZW0jKgRGFf                                                                                                                                                                                                           1
‚ÄúWe literally have the chance to shape the future - to put our own stamp on the face and character of America, to bend history just a little bit.‚Äù The words of #JoeBiden in 1988 are just as relevant and powerful today as they were then. #BidenHarris https://t.co/UsHNpZoGrJ      1
#rapidtesting #asymptomatic #COVID19 #sonavscorona #antigen #Biden #BidenHarris2020 https://t.co/xtofM92Lx5                                                                                                                                                                            1
@KevinCate @FlaDems We have to find a way to motivate another 140,000 voters to get out &amp; #vote #biden as #America is at stake                                                                                                                                                     1
Ik moet zeggen dat ik #Biden "the lesser of two evils" vond maar als je dit dan leest... eindelijk weer iemand met verstand #YOUREFIRED \n\nWeg met de Muur, terug naar het Klimaatakkoord: dit is Biden van plan\nhttps://t.co/dECHp5ypCH                                             1
Name: count, Length: 768387, dtype: int64


Column: likes
likes
0.0        416513
1.0        146870
2.0         62402
3.0         32664
4.0         19940
            ...
2361.0          1
15282.0         1
1915.0          1
723.0           1
1883.0          1
Name: count, Length: 1658, dtype: int64


Column: retweet_count
retweet_count
0.0       619145
1.0        80149
2.0        25668
3.0        12405
4.0         7304
           ...
497.0          1
6005.0         1
635.0          1
961.0          1
718.0          1
Name: count, Length: 712, dtype: int64


Column: source
source
Twitter for iPhone     244809
Twitter Web App        240313
Twitter for Android    218937
Twitter for iPad        26029
TweetDeck               12504
                        ...
Mediaproxy LogJam           1
erased19240611              1
One News Watch              1
Postoplan                   1
VideoGold.de                1
Name: count, Length: 742, dtype: int64


Column: user_id
user_id
1.244982e+18    1259
7.426862e+07    1163
8.742585e+08    1076
1.024778e+18     945
2.395433e+07     922
                ...
1.182313e+18       1
2.324960e+08       1
7.914274e+08       1
8.763639e+17       1
5.863863e+08       1
Name: count, Length: 316073, dtype: int64


Column: user_name
user_name
VOTE BLUE Steve Ziegenbuschüëë    1259
Revue2presse                    1163
Jonathan Greenberg              1076
yojo                             945
Hotpage News                     922
                                ...
Dilip Dwivedi                      1
tuƒüba √ßƒ±kmaz                       1
martin diggins                     1
DeusUlivre                         1
Job                                1
Name: count, Length: 297546, dtype: int64


Column: user_screen_name
user_screen_name
steveziegenbus2    1259
revue2presse       1163
JournalistJG       1076
yyoo11122           945
Hotpage_News        922
                   ...
Maradalona            1
ykyabalongo           1
FinnDonny             1
lepakaobog            1
_JobO__               1
Name: count, Length: 316509, dtype: int64


Column: user_description
user_description
Une s√©lection h√©t√©roclite des Unes de la Presse Internationale. \nQui aime me suive !                                                                                1163
Award-winning public interest investigative journalist who exposed Trump's Forbes 400 John Baron con in Washington Post. Author Trump dystopia America 2034.         1076
üëë⁄ÜŸà ÿßŸäÿ±ÿßŸÜ ŸÜÿ®ÿßÿ¥ÿØ ÿ™ŸÜ ŸÖŸÜ ŸÖÿ®ÿßÿØ üëë\nŸæÿ±Ÿàÿ±ÿØ⁄Øÿßÿ± ÿß€åÿ±ÿßŸÜ ÿ±ÿß ÿßÿ≤ ÿ¥ÿ± ÿßŸáÿ±€åŸÖŸÜÿßŸÜ ÿØŸàÿ±ŸÜ⁄ØÿßŸáÿØÿßÿ±\nŸÜÿßÿ®ŸàÿØ ÿ®ÿßÿØÿØÿ¥ŸÖŸÜÿßŸÜ ÿß€åÿ±ÿßŸÜ ÿ≤ŸÖ€åŸÜ ÿ¨ŸÖŸáŸàÿ±€å ÿßÿ≥ŸÑÿßŸÖ€å ŸÅÿØÿ±ÿßŸÑ€åÿ≥ÿ™ ÿ™ÿ¨ÿ≤€åŸá ÿ∑ŸÑÿ®... \nŸæÿß€åŸÜÿØŸá_ÿß€åÿ±ÿßŸÜ ÿ¨ÿßŸà€åÿØÿ¥ÿßŸá     945
Top 50 Headlines of the Day #COVID19 #Coronavirus                                                                                                                     922
üç∑ the MEME MASTER #DemCast #DemCastPA üá∫üá∏ #BLM #VoteBiden #wtp #nevertrump #resist #married over 50 years, 8 grandchildren, USMC VET, üåäüåä üåà‚≠êÔ∏èüòªüíôüéá üåäüåäüåä                    798
                                                                                                                                                                     ...
Love Eurovision Collingwood F.C....Want to travel the globe. Love my sweatheart ‚ù§                                                                                       1
Mamelodi Sundowns -Chelsea- Barcelona                                                                                                                                   1
Subvertit l'Empire / Follow the Indians /\n\nPlus tard, dans une √©poque mieux inform√©e, le mot destin prendra probablement un sens statistique. R. Musil, 1938          1
‰ºùË™¨„ÅÆÊµ∑Â§ñ„Åã„Å∂„Çå #follome #folloyou #folloback                                                                                                                                  1
-voeg hier uw interessante bio toe-                                                                                                                                     1
Name: count, Length: 280020, dtype: int64


Column: user_join_date
user_join_date
2020-03-31 13:37:55    1259
2009-09-14 21:23:59    1163
2012-10-11 20:16:13    1076
2018-08-01 22:04:29     945
2009-03-12 14:16:30     922
                       ...
2013-06-02 04:15:03       1
2016-10-28 12:19:25       1
2020-10-31 12:16:49       1
2012-09-17 16:06:39       1
2012-05-21 06:30:14       1
Name: count, Length: 315872, dtype: int64


Column: user_followers_count
user_followers_count
0.0          11215
1.0           8852
2.0           7892
3.0           6947
4.0           6382
             ...
1842631.0        1
32462.0          1
3262526.0        1
47900.0          1
385921.0         1
Name: count, Length: 34867, dtype: int64


Column: user_location
user_location
United States                     17802
USA                                7138
India                              5691
Los Angeles, CA                    4838
Washington, DC                     4394
                                  ...
Twitter Calcio                        1
dm(v)                                 1
üò´‚ú® she/her                            1
Near Atlanta                          1
London/ Istanbul/Izmir /Beirut        1
Name: count, Length: 79139, dtype: int64


Column: lat
lat
 39.783730    27541
 40.712728    14529
 51.507322     7772
 34.053691     7178
 48.856697     6890
              ...
 53.769250        1
 34.062763        1
 51.564950        1
 43.664796        1
-37.837913        1
Name: count, Length: 5481, dtype: int64


Column: long
long
-100.445882    27541
-74.006015     14529
-0.127647       7772
-118.242766     7178
 2.351462       6890
               ...
-90.150543         1
-91.151515         1
-74.487015         1
-82.006542         1
 144.992419        1
Name: count, Length: 5482, dtype: int64


Column: city
city
New York             18253
London                8040
Los Angeles           7935
Washington            6993
Paris                 6905
                     ...
Kidder Township          1
Landkreis Kassel         1
San Pedro                1
Essarts-en-Bocage        1
Urbana                   1
Name: count, Length: 1372, dtype: int64


Column: country
country
United States of America    153596
United States                27541
United Kingdom               23308
India                        21532
France                       14610
                             ...
Puerto Rico                      1
Republic of the Congo            1
British Virgin Islands           1
Vanuatu                          1
Benin                            1
Name: count, Length: 185, dtype: int64


Column: continent
continent
North America    200175
Europe            84817
Asia              42374
South America     13595
Africa             6644
Oceania            6184
Antarctica            8
Name: count, dtype: int64


Column: state
state
California            25817
New York              21005
England               16743
Texas                 14191
Florida               13284
                      ...
Okayama Prefecture        1
Mardin                    1
Balƒ±kesir                 1
Misamis Oriental          1
Borgou                    1
Name: count, Length: 637, dtype: int64


Column: state_code
state_code
CA     25817
NY     21005
ENG    16743
TX     14191
FL     13304
       ...
PED        1
HUI        1
CUN        1
BN         1
BO         1
Name: count, Length: 294, dtype: int64


Column: collected_at
collected_at
2020-10-21 00:00:00           1
2020-11-07 11:42:00.519394    1
2020-11-07 11:50:10.022317    1
2020-11-07 11:50:10.160639    1
2020-11-07 11:50:09.841269    1
                             ..
2020-11-01 11:01:31.250270    1
2020-11-01 11:09:15.376030    1
2020-11-01 11:09:15.561665    1
2020-11-01 11:09:15.423233    1
2020-11-09 18:32:45.747707    1
Name: count, Length: 776886, dtype: int64

## Trump_df

In [12]:
# read trump csv file
trump_df = pd.read_csv(r"C:\Users\User\iCloudDrive\Cursos\Data Circle\DataCircle_Twitter_Project\hashtag_donaldtrump.csv", lineterminator='\n')

In [13]:
trump_df.head()

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,collected_at
0,2020-10-15 00:00:01,1.316529e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,3.606665e+08,El Sol Latino News,elsollatinonews,üåê Noticias de inter√©s para latinos de la costa...,...,1860.0,"Philadelphia, PA / Miami, FL",25.774270,-80.193660,NaN,United States of America,North America,Florida,FL,2020-10-21 00:00:00
1,2020-10-15 00:00:01,1.316529e+18,"Usa 2020, Trump contro Facebook e Twitter: cop...",26.0,9.0,Social Mediaset,3.316176e+08,Tgcom24,MediasetTgcom24,Profilo ufficiale di Tgcom24: tutte le notizie...,...,1067661.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:00.373216530
2,2020-10-15 00:00:02,1.316529e+18,"#Trump: As a student I used to hear for years,...",2.0,1.0,Twitter Web App,8.436472e+06,snarke,snarke,"Will mock for food! Freelance writer, blogger,...",...,1185.0,Portland,45.520247,-122.674195,Portland,United States of America,North America,Oregon,OR,2020-10-21 00:00:00.746433060
3,2020-10-15 00:00:02,1.316529e+18,2 hours since last tweet from #Trump! Maybe he...,0.0,0.0,Trumpytweeter,8.283556e+17,Trumpytweeter,trumpytweeter,"If he doesn't tweet for some time, should we b...",...,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:01.119649591
4,2020-10-15 00:00:08,1.316529e+18,You get a tie! And you get a tie! #Trump ‚Äòs ra...,4.0,3.0,Twitter for iPhone,4.741380e+07,Rana Abtar - ÿ±ŸÜÿß ÿ£ÿ®ÿ™ÿ±,Ranaabtar,"Washington Correspondent, Lebanese-American ,c...",...,5393.0,Washington DC,38.894992,-77.036558,Washington,United States of America,North America,District of Columbia,DC,2020-10-21 00:00:01.492866121

In [14]:
trump_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970919 entries, 0 to 970918
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   created_at            970919 non-null  object
 1   tweet_id              970919 non-null  float64
 2   tweet                 970919 non-null  object
 3   likes                 970919 non-null  float64
 4   retweet_count         970919 non-null  float64
 5   source                970043 non-null  object
 6   user_id               970919 non-null  float64
 7   user_name             970897 non-null  object
 8   user_screen_name      970919 non-null  object
 9   user_description      869651 non-null  object
 10  user_join_date        970919 non-null  object
 11  user_followers_count  970919 non-null  float64
 12  user_location         675957 non-null  object
 13  lat                   445719 non-null  float64
 14  long                  445719 non-null  float64
 15  city                  227187 non-null  object
 16  country               442748 non-null  object
 17  continent             442765 non-null  object
 18  state                 320620 non-null  object
 19  state_code            300425 non-null  object
 20  collected_at          970919 non-null  object
dtypes: float64(7), object(14)
memory usage: 155.6+ MB

In [15]:
trump_df.isna().sum()

created_at                   0
tweet_id                     0
tweet                        0
likes                        0
retweet_count                0
source                     876
user_id                      0
user_name                   22
user_screen_name             0
user_description        101268
user_join_date               0
user_followers_count         0
user_location           294962
lat                     525200
long                    525200
city                    743732
country                 528171
continent               528154
state                   650299
state_code              670494
collected_at                 0
dtype: int64

In [16]:
trump_df.duplicated().sum()

0

In [18]:
trump_df.describe()

,tweet_id,likes,retweet_count,user_id,user_followers_count,lat,long
count,9.709190e+05,970919.000000,970919.000000,9.709190e+05,9.709190e+05,445719.000000,445719.000000
mean,1.322494e+18,7.477011,1.698500,4.468311e+17,2.260357e+04,35.697936,-40.369638
std,2.555133e+15,158.058117,40.028419,5.544702e+17,3.042152e+05,18.823129,67.531751
min,1.316529e+18,0.000000,0.000000,5.310000e+02,0.000000e+00,-90.000000,-175.202642
25%,1.320478e+18,0.000000,0.000000,2.169326e+08,7.700000e+01,32.701939,-96.796856
50%,1.323612e+18,0.000000,0.000000,2.373392e+09,4.410000e+02,39.783730,-74.006015
75%,1.324505e+18,1.000000,0.000000,1.078344e+18,2.066000e+03,46.603354,6.776314
max,1.325589e+18,74084.000000,20491.000000,1.325581e+18,1.911533e+07,90.000000,179.048837

In [20]:
value_counts = columns_value_counts(trump_df)
for column, counts in value_counts.items():
    print(f"Column: {column}")
    print(counts)
    print("\n")

Column: created_at
created_at
2020-11-07 17:08:35    16
2020-11-07 16:47:57    15
2020-11-06 00:01:00    14
2020-11-07 17:26:32    14
2020-11-05 23:58:25    14
                       ..
2020-11-01 20:09:29     1
2020-11-01 20:09:28     1
2020-11-01 20:09:22     1
2020-11-01 20:09:20     1
2020-11-08 23:59:55     1
Name: count, Length: 679153, dtype: int64


Column: tweet_id
tweet_id
1.325483e+18    2
1.325478e+18    2
1.325264e+18    2
1.325376e+18    2
1.325264e+18    2
               ..
1.321777e+18    1
1.321777e+18    1
1.321777e+18    1
1.321777e+18    1
1.325589e+18    1
Name: count, Length: 969577, dtype: int64


Column: tweet
tweet
#Trump                                                                                                                                                                                                                                                                                                         259
#DonaldTrump                                                                                                                                                                                                                                                                                                    84
#trump                                                                                                                                                                                                                                                                                                          75
@realDonaldTrump I agree with this article..\n\nNo doubt, #donaldtrump is the worst president in American history...at least modern history.\n\n#TrumpIsANationalDisgrace \n#TrumpUsARacist\n#TrumpIsAPos\n\nhttps://t.co/MpZpbzJyVJ                                                                            51
#Trump Sucks Fatballs in #Russia :D                                                                                                                                                                                                                                                                             49
                                                                                                                                                                                                                                                                                                              ...
#Illuminati #biden #trump #REBELIONFISCAL https://t.co/zT93IdFOcK                                                                                                                                                                                                                                                1
What?!! And you guys did not make copies? üòÇü§£üòÇü§£üòÇ\nI think this is a work for 007 or Batman. Choose the best that suits your imagination ü§•ü§•ü§•ü§•ü§•ü§•. In the end "you better call Saul" ü§´ü§´ü§´ü§´ü§´ü§´ü§´\n#FoxNews #foxfantasy #Trump https://t.co/IshqBLMzuY                                                                    1
La #Barrett, voluta da #Trump e eletta alla #SupremeCourt, da la maggioranza alle posizioni conservatrici e confessionali alla corte, che sono contro laicit√† e diritti LGBT+ . Come prima causa si occuper√† delle adozioni da parte di genitori LGBT+, alle quali lei si oppone .. https://t.co/BJXn6Dr3lp      1
Video from #Trump‚Äôs rally yesterday captures the moments an F-16 intercepts a civilian airplane while T is talking. At one point the jet uses flares, warring the plane to leave which excites the President who then says they‚Äôre giving him a nice display.\n\nhttps://t.co/Eolr4DeXrY                         1
OK just had to do it !\n#Trump #CatapultTrump https://t.co/paXue9RokZ                                                                                                                                                                                                                                            1
Name: count, Length: 958535, dtype: int64


Column: likes
likes
0.0       548581
1.0       179875
2.0        72982
3.0        37127
4.0        22719
           ...
1735.0         1
5846.0         1
2350.0         1
1788.0         1
1193.0         1
Name: count, Length: 1630, dtype: int64


Column: retweet_count
retweet_count
0.0       780076
1.0        97971
2.0        30575
3.0        14853
4.0         8767
           ...
1349.0         1
259.0          1
524.0          1
594.0          1
285.0          1
Name: count, Length: 719, dtype: int64


Column: source
source
Twitter Web App        321067
Twitter for iPhone     274034
Twitter for Android    269275
Twitter for iPad        35333
TweetDeck               17484
                        ...
MateCha                     1
diasp.org                   1
Paiger                      1
PubTni                      1
Meld.de Social              1
Name: count, Length: 901, dtype: int64


Column: user_id
user_id
7.426862e+07    1352
4.017365e+07    1325
4.132841e+06     980
3.863951e+08     964
2.395433e+07     921
                ...
1.229695e+09       1
9.840531e+07       1
1.228626e+18       1
1.310587e+18       1
9.866108e+17       1
Name: count, Length: 301378, dtype: int64


Column: user_name
user_name
Revue2presse                   1352
Global News Report             1325
Scott McLeod (he, him, his)     980
t Logan                         964
Hotpage News                    921
                               ...
Rwndk                             1
Moshe Gersht                      1
Erick Obermaier                   1
Nikhil Daniel Alex                1
watchdog                          1
Name: count, Length: 285085, dtype: int64


Column: user_screen_name
user_screen_name
revue2presse       1352
robinsnewswire     1325
mcleod              980
greeneyes3470       964
Hotpage_News        921
                   ...
GoodReverendDoc       1
samyfakh              1
KarmicFirstAid        1
devletekusmedik       1
wilke_tobias          1
Name: count, Length: 301927, dtype: int64


Column: user_description
user_description
Une s√©lection h√©t√©roclite des Unes de la Presse Internationale. \nQui aime me suive !                                                                                 1352
Flying the web for trusted world news reports and shopping discounts 24/7. Retweeting for opinions, useful information, and the many voices of Twitter.               1325
Associate Professor. CASTLE Founder. Blogger. Idea generator. Solution builder. Agitator. Catalyst. ‚ÄúIf the leaders don‚Äôt get it, it‚Äôs not going to happen.‚Äù           980
I Really am a nice person,  but Trump makes my horns show!                                                                                                             964
Top 50 Headlines of the Day #COVID19 #Coronavirus                                                                                                                      921
                                                                                                                                                                      ...
Podcast that is a deep dive into the root causes of socio-economic issues affecting our society. Solution-oriented. And we talk a lot about the climate crisis.          1
Special Advisor to the President of Senegal, H.E. Macky Sall- former MP German Parliament. Guest lecturer Harvard Univ,Howard Uni, Panama, Venezuala, Costa Rica         1
üé∂Tweeting On The Edge\nAnalyzing Stuff Speculating Shit\nReading Comics From #Marvel & #DC\nHe Can Think Above Our Theoriesüé∂                                             1
ŸÑÿß ÿ•ŸÑ€ÅŸé ÿ•ŸÑÿß ÿßŸÑŸÑ€Å ‚ô°                                                                                                                                                       1
Quis custodiet ipsos custodes?\n\nTV Journalist & Cameraman /\nCrime statistics @volksverpetzer\n\nSorry for following racists. Someone has to take out the trash.       1
Name: count, Length: 265801, dtype: int64


Column: user_join_date
user_join_date
2009-09-14 21:23:59    1352
2009-05-15 04:16:20    1325
2007-04-11 06:19:46     980
2011-10-07 06:35:04     964
2009-03-12 14:16:30     921
                       ...
2019-03-05 22:55:59       1
2014-12-20 18:59:02       1
2013-12-10 16:36:02       1
2018-10-16 18:30:16       1
2018-04-18 14:21:49       1
Name: count, Length: 301193, dtype: int64


Column: user_followers_count
user_followers_count
0.0         14253
1.0         11070
2.0          9920
3.0          8782
4.0          7701
            ...
13448.0         1
128914.0        1
639115.0        1
17920.0         1
9815.0          1
Name: count, Length: 36559, dtype: int64


Column: user_location
user_location
United States                  21451
USA                             8967
Washington, DC                  6437
California, USA                 5625
Los Angeles, CA                 4990
                               ...
Sweden & USA                       1
ƒ∞stanbul, Mu≈ü                      1
Quartu Sant'Elena, Sardegna        1
ƒ∞stanbul / T√ºrkiye                 1
Saxony/GER                         1
Name: count, Length: 76874, dtype: int64


Column: lat
lat
 39.783730    34364
 40.712728    14995
 51.507322    10751
 38.894992     9308
 48.856697     9232
              ...
 38.833496        1
 44.986118        1
 40.759823        1
 29.563320        1
-33.924789        1
Name: count, Length: 5516, dtype: int64


Column: long
long
-100.445882    34364
-74.006015     14995
-0.127647      10751
-77.036558      9308
 2.351462       9232
               ...
-77.304256         1
-93.378462         1
-96.779007         1
-74.417097         1
 151.227741        1
Name: count, Length: 5519, dtype: int64


Column: city
city
New York              19496
London                11164
Washington             9482
Paris                  9268
Los Angeles            8903
                      ...
Newcastle-Maitland        1
Orizaba                   1
Timmins                   1
Lower Hutt City           1
Pocatello                 1
Name: count, Length: 1412, dtype: int64


Column: country
country
United States of America          178899
United Kingdom                     34743
United States                      34364
Germany                            22618
France                             20689
                                   ...
Federated States of Micronesia         2
Northern Mariana Islands               1
Gabon                                  1
Antigua and Barbuda                    1
Samoa                                  1
Name: count, Length: 185, dtype: int64


Column: continent
continent
North America    240578
Europe           122650
Asia              43943
South America     16605
Oceania           10469
Africa             8511
Antarctica            9
Name: count, dtype: int64


Column: state
state
California          31149
England             24111
New York            22881
Florida             16568
Texas               16491
                    ...
Hyogo Prefecture        1
Abia                    1
Bay                     1
Penal-Debe              1
Cesar                   1
Name: count, Length: 666, dtype: int64


Column: state_code
state_code
CA     31157
ENG    24111
NY     22881
FL     16626
TX     16491
       ...
PED        1
DN         1
TAC        1
LT         1
CES        1
Name: count, Length: 297, dtype: int64


Column: collected_at
collected_at
2020-10-21 00:00:00           1
2020-11-05 12:00:14.985646    1
2020-11-05 12:00:14.906119    1
2020-11-05 12:00:14.818520    1
2020-11-05 12:00:15.222758    1
                             ..
2020-10-30 14:49:51.196962    1
2020-10-30 14:49:51.042714    1
2020-10-30 14:49:50.794998    1
2020-10-30 14:49:50.941779    1
2020-11-09 17:47:55.807500    1
Name: count, Length: 970919, dtype: int64

Notes:
* There are null values (needs to be dealt)
* There are duplicated values (needs to be dropped)
* Columns "likes", "user_followers_count", "lat" and "long" are object (Needs to be changed to numeric)
* Column "created_at", "user_join_date" and "collected_at" are object (Needs to be changed to datetime)