In [2]:
import pandas as pd

In [3]:
df_biden = pd.read_csv(r"hashtag_joebiden.csv", engine='python')

In [4]:

# Load the Trump dataset
df_trump = pd.read_csv(r"hashtag_donaldtrump.csv", engine='python')

2. Explore the Data

In [5]:
# Check the first few rows of each DataFrame
print(df_biden.head())
print(df_trump.head())

# Check the columns
print(df_biden.columns)
print(df_trump.columns)

            created_at                tweet_id  \
0  2020-10-15 00:00:01   1.316529221557252e+18
1  2020-10-15 00:00:18    1.31652929585929e+18
2  2020-10-15 00:00:20  1.3165293050069524e+18
3  2020-10-15 00:00:21  1.3165293080815575e+18
4  2020-10-15 00:00:22   1.316529312741253e+18

                                               tweet likes  retweet_count  \
0  #Elecciones2020 | En #Florida: #JoeBiden dice ...   0.0            0.0
1  #HunterBiden #HunterBidenEmails #JoeBiden #Joe...   0.0            0.0
2  @IslandGirlPRV @BradBeauregardJ @MeidasTouch T...   0.0            0.0
3  @chrislongview Watching and setting dvr. Let‚Äôs...   0.0            0.0
4  #censorship #HunterBiden #Biden #BidenEmails #...   1.0            0.0

               source                user_id           user_name  \
0           TweetDeck            360666534.0  El Sol Latino News
1    Twitter for iPad            809904438.0         Cheri A. üá∫üá∏
2     Twitter Web App           3494182277.0          Flag Waver
3  Twitter for iPhone  8.242596012018524e+17       Michelle Ferg
4     Twitter Web App  1.032806955356545e+18      the Gold State

  user_screen_name                                   user_description  ...  \
0  elsollatinonews  üåê Noticias de inter√©s para latinos de la costa...  ...
1     Biloximeemaw  Locked and loaded Meemaw. Love God, my family ...  ...
2      Flag_Wavers                                                NaN  ...
3    MichelleFerg4                                                NaN  ...
4    theegoldstate  A Silicon Valley #independent #News #Media #St...  ...

  user_followers_count                 user_location         lat  \
0               1860.0  Philadelphia, PA / Miami, FL    25.77427
1               6628.0                           NaN         NaN
2               1536.0         Golden Valley Arizona  46.3040364
3                 27.0                           NaN         NaN
4                390.0               California, USA  36.7014631

                  long city                   country      continent  \
0            -80.19366  NaN  United States of America  North America
1                  NaN  NaN                       NaN            NaN
2  -109.17143119999999  NaN  United States of America  North America
3                  NaN  NaN                       NaN            NaN
4  -118.75599740000001  NaN  United States of America  North America

        state state_code                   collected_at
0     Florida         FL            2020-10-21 00:00:00
1         NaN        NaN  2020-10-21 00:00:00.517827283
2     Montana         MT  2020-10-21 00:00:01.035654566
3         NaN        NaN  2020-10-21 00:00:01.553481849
4  California         CA  2020-10-21 00:00:02.071309132

[5 rows x 21 columns]
            created_at                tweet_id  \
0  2020-10-15 00:00:01   1.316529221557252e+18
1  2020-10-15 00:00:01  1.3165292227484303e+18
2  2020-10-15 00:00:02   1.316529228091847e+18
3  2020-10-15 00:00:02   1.316529227471237e+18
4  2020-10-15 00:00:08  1.3165292523014513e+18

                                               tweet likes  retweet_count  \
0  #Elecciones2020 | En #Florida: #JoeBiden dice ...   0.0            0.0
1  Usa 2020, Trump contro Facebook e Twitter: cop...  26.0            9.0
2  #Trump: As a student I used to hear for years,...   2.0            1.0
3  2 hours since last tweet from #Trump! Maybe he...   0.0            0.0
4  You get a tie! And you get a tie! #Trump ‚Äòs ra...   4.0            3.0

               source               user_id              user_name  \
0           TweetDeck           360666534.0     El Sol Latino News
1    Social Mediaset            331617619.0                Tgcom24
2     Twitter Web App             8436472.0                 snarke
3       Trumpytweeter  8.28355589206057e+17          Trumpytweeter
4  Twitter for iPhone            47413798.0  Rana Abtar - ÿ±ŸÜÿß ÿ£ÿ®ÿ™ÿ±

  user_screen_name                                   user_description  ...  \
0  elsollatinonews  üåê Noticias de inter√©s para latinos de la costa...  ...
1  MediasetTgcom24  Profilo ufficiale di Tgcom24: tutte le notizie...  ...
2           snarke  Will mock for food! Freelance writer, blogger,...  ...
3    trumpytweeter  If he doesn't tweet for some time, should we b...  ...
4        Ranaabtar  Washington Correspondent, Lebanese-American ,c...  ...

  user_followers_count                 user_location         lat  \
0               1860.0  Philadelphia, PA / Miami, FL    25.77427
1            1067661.0                           NaN         NaN
2               1185.0                      Portland  45.5202471
3                 32.0                           NaN         NaN
4               5393.0                 Washington DC  38.8949924

           long        city                   country      continent  \
0     -80.19366         NaN  United States of America  North America
1           NaN         NaN                       NaN            NaN
2  -122.6741949    Portland  United States of America  North America
3           NaN         NaN                       NaN            NaN
4   -77.0365581  Washington  United States of America  North America

                  state state_code                   collected_at
0               Florida         FL            2020-10-21 00:00:00
1                   NaN        NaN  2020-10-21 00:00:00.373216530
2                Oregon         OR  2020-10-21 00:00:00.746433060
3                   NaN        NaN  2020-10-21 00:00:01.119649591
4  District of Columbia         DC  2020-10-21 00:00:01.492866121

[5 rows x 21 columns]
Index(['created_at', 'tweet_id', 'tweet', 'likes', 'retweet_count', 'source',
       'user_id', 'user_name', 'user_screen_name', 'user_description',
       'user_join_date', 'user_followers_count', 'user_location', 'lat',
       'long', 'city', 'country', 'continent', 'state', 'state_code',
       'collected_at'],
      dtype='object')
Index(['created_at', 'tweet_id', 'tweet', 'likes', 'retweet_count', 'source',
       'user_id', 'user_name', 'user_screen_name', 'user_description',
       'user_join_date', 'user_followers_count', 'user_location', 'lat',
       'long', 'city', 'country', 'continent', 'state', 'state_code',
       'collected_at'],
      dtype='object')

In [6]:
print(df_biden.columns)

Index(['created_at', 'tweet_id', 'tweet', 'likes', 'retweet_count', 'source',
       'user_id', 'user_name', 'user_screen_name', 'user_description',
       'user_join_date', 'user_followers_count', 'user_location', 'lat',
       'long', 'city', 'country', 'continent', 'state', 'state_code',
       'collected_at'],
      dtype='object')

In [7]:
print(df_trump.columns)

Index(['created_at', 'tweet_id', 'tweet', 'likes', 'retweet_count', 'source',
       'user_id', 'user_name', 'user_screen_name', 'user_description',
       'user_join_date', 'user_followers_count', 'user_location', 'lat',
       'long', 'city', 'country', 'continent', 'state', 'state_code',
       'collected_at'],
      dtype='object')

In [9]:
# Check for data types and null values
print(df_biden.info())
print(df_trump.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777073 entries, 0 to 777072
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   created_at            777073 non-null  object
 1   tweet_id              776995 non-null  object
 2   tweet                 776995 non-null  object
 3   likes                 776914 non-null  object
 4   retweet_count         776895 non-null  float64
 5   source                776182 non-null  object
 6   user_id               776889 non-null  object
 7   user_name             776877 non-null  object
 8   user_screen_name      776895 non-null  object
 9   user_description      694885 non-null  object
 10  user_join_date        776784 non-null  object
 11  user_followers_count  776885 non-null  object
 12  user_location         543066 non-null  object
 13  lat                   355284 non-null  object
 14  long                  355284 non-null  object
 15  city                  186869 non-null  object
 16  country               353770 non-null  object
 17  continent             353788 non-null  object
 18  state                 260191 non-null  object
 19  state_code            244603 non-null  object
 20  collected_at          776777 non-null  object
dtypes: float64(1), object(20)
memory usage: 124.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 971087 entries, 0 to 971086
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   created_at            971087 non-null  object
 1   tweet_id              971073 non-null  object
 2   tweet                 971073 non-null  object
 3   likes                 971045 non-null  object
 4   retweet_count         970933 non-null  float64
 5   source                970057 non-null  object
 6   user_id               970929 non-null  object
 7   user_name             970917 non-null  object
 8   user_screen_name      970933 non-null  object
 9   user_description      869663 non-null  object
 10  user_join_date        970779 non-null  object
 11  user_followers_count  970917 non-null  object
 12  user_location         675839 non-null  object
 13  lat                   445702 non-null  object
 14  long                  445705 non-null  object
 15  city                  227180 non-null  object
 16  country               442732 non-null  object
 17  continent             442749 non-null  object
 18  state                 320614 non-null  object
 19  state_code            300414 non-null  object
 20  collected_at          970765 non-null  object
dtypes: float64(1), object(20)
memory usage: 155.6+ MB
None

In [19]:
print(df_trump.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 971087 entries, 0 to 971086
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   created_at            971087 non-null  object
 1   tweet_id              971073 non-null  object
 2   tweet                 971073 non-null  object
 3   likes                 971045 non-null  object
 4   retweet_count         970933 non-null  float64
 5   source                970057 non-null  object
 6   user_id               970929 non-null  object
 7   user_name             970917 non-null  object
 8   user_screen_name      970933 non-null  object
 9   user_description      869663 non-null  object
 10  user_join_date        970779 non-null  object
 11  user_followers_count  970917 non-null  object
 12  user_location         675839 non-null  object
 13  lat                   445702 non-null  object
 14  long                  445705 non-null  object
 15  city                  227180 non-null  object
 16  country               442732 non-null  object
 17  continent             442749 non-null  object
 18  state                 320614 non-null  object
 19  state_code            300414 non-null  object
 20  collected_at          970765 non-null  object
dtypes: float64(1), object(20)
memory usage: 155.6+ MB
None

In [10]:
df_biden['candidate'] = 'Biden'
df_trump['candidate'] = 'Trump'

In [24]:
print(df_biden.columns)

Index(['created_at', 'tweet_id', 'tweet', 'likes', 'retweet_count', 'source',
       'user_id', 'user_name', 'user_screen_name', 'user_description',
       'user_join_date', 'user_followers_count', 'user_location', 'lat',
       'long', 'city', 'country', 'continent', 'state', 'state_code',
       'collected_at', 'candidate'],
      dtype='object')

In [11]:

df_combined = pd.concat([df_biden, df_trump], ignore_index=True)

In [30]:
print(df_combined.columns)

Index(['created_at', 'tweet_id', 'tweet', 'likes', 'retweet_count', 'source',
       'user_id', 'user_name', 'user_screen_name', 'user_description',
       'user_join_date', 'user_followers_count', 'user_location', 'lat',
       'long', 'city', 'country', 'continent', 'state', 'state_code',
       'collected_at', 'candidate'],
      dtype='object')

In [31]:
print(df_combined.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1748160 entries, 0 to 1748159
Data columns (total 22 columns):
 #   Column                Dtype
---  ------                -----
 0   created_at            object
 1   tweet_id              object
 2   tweet                 object
 3   likes                 object
 4   retweet_count         float64
 5   source                object
 6   user_id               object
 7   user_name             object
 8   user_screen_name      object
 9   user_description      object
 10  user_join_date        object
 11  user_followers_count  object
 12  user_location         object
 13  lat                   object
 14  long                  object
 15  city                  object
 16  country               object
 17  continent             object
 18  state                 object
 19  state_code            object
 20  collected_at          object
 21  candidate             object
dtypes: float64(1), object(21)
memory usage: 293.4+ MB
None

In [ ]:
print(df_trump.info())

Ensure Data Consistency

    Standardizing date/time formats
    Ensuring consistent text formatting (e.g., lowercasing)
    Cleaning up usernames and hashtags (removing extra spaces or symbols)

1. Standardize Date/Time (created_at)
This ensures that all dates are in a consistent format.

In [32]:

df_combined['created_at'] = pd.to_datetime(df_combined['created_at'], errors='coerce')

# Convert 'likes', 'user_followers_count', 'lat', 'long' to numeric types

In [33]:
# Convert 'likes', 'user_followers_count', 'lat', 'long' to numeric types
df_combined['likes'] = pd.to_numeric(df_combined['likes'], errors='coerce')
df_combined['user_followers_count'] = pd.to_numeric(df_combined['user_followers_count'], errors='coerce')
df_combined['lat'] = pd.to_numeric(df_combined['lat'], errors='coerce')
df_combined['long'] = pd.to_numeric(df_combined['long'], errors='coerce')

In [34]:
# Check for any null values after conversion
print(df_combined[['likes', 'user_followers_count', 'lat', 'long']].isnull().sum())

likes                      365
user_followers_count       611
lat                     947178
long                    947178
dtype: int64

# Standardize categorical columns
Text columns like tweet, user_name, user_screen_name, etc., are converted to lowercase and trimmed of any extra spaces.

In [35]:
# Standardize categorical columns
df_combined['source'] = df_combined['source'].str.lower().str.strip()
df_combined['city'] = df_combined['city'].str.lower().str.strip()
df_combined['country'] = df_combined['country'].str.lower().str.strip()
df_combined['state'] = df_combined['state'].str.lower().str.strip()
df_combined['state_code'] = df_combined['state_code'].str.upper().str.strip()

In [1]:
text_columns = ['tweet', 'user_name', 'user_screen_name', 'user_description', 'user_location', 'source']
for col in text_columns:
    df_combined[col] = df_combined[col].str.lower().str.strip()

NameError: name 'df_combined' is not defined